<div class="container-fluid vh-100">
    <div class="row h-100">
      
      <div class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-light p-5">
        <h2 class="mb-4">Login</h2>
        <form [formGroup]="loginForm" style="width: 100%; max-width: 400px;">
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <button (click)="signIn($event)" type="submit" class="btn btn-action mt-4 w-100">Sign In</button>
        </form>
      </div>
  
      <div class="col-md-6 login-image d-none d-md-block">
      </div>
  
    </div>
  </div>