.nav-link {
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px !important;
    border-bottom: 3px solid transparent;
    letter-spacing: .5px;

    &:hover {
        color: var(--promary-orange);
        border-bottom: 3px solid var(--promary-orange);
        cursor: pointer;
        transition: color .5s ease, border-bottom .5s ease;
    }
}