<form [formGroup]="userForm" class="container mt-4">
    <div class="row mb-3">
        <div class="col-md-4">
            <app-text-field label="Nome" formControlName="name"></app-text-field>
        </div>
        <div class="col-md-4">
            <app-text-field [showMaskTyped]="true" [dropSpecialCharacters]="true" mask="(00) 0000-0000" label="Telefone" formControlName="phone"></app-text-field>
        </div>
        <div class="col-md-4">
            <app-text-field [showMaskTyped]="true" [dropSpecialCharacters]="true" mask="00 000-000" label="CEP" formControlName="cep"></app-text-field>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <app-text-field mask="A*@A*.A*" label="E-mail" formControlName="email"></app-text-field>
        </div>
        <div class="col-md-6">
            <app-text-field label="Senha" formControlName="password" type="password"></app-text-field>
        </div>
    </div>

    <button (click)="registerUser($event)" type="submit" class="btn px-5 mt-4 btn-action">Registrar Usuario</button>
</form>