<div class="container-fluid px-4 pt-5 px-5">

  <dx-data-grid #dataGrid id="dataGrid" [dataSource]="(userData | async)" [columnHidingEnabled]="true"
    [allowColumnReordering]="true">
    <dxo-editing mode="row" [allowUpdating]="user.emailVerified ? true : false" [allowDeleting]="user.emailVerified ? true : false">
    </dxo-editing>
    <dxi-column dataField="Id" caption="id" [visible]="false"></dxi-column>
    <dxi-column dataField="name" caption="Nome">
      <dxi-validation-rule type="required"></dxi-validation-rule>
      <dxi-validation-rule type="stringLength" [min]="3" [max]="100"></dxi-validation-rule>
    </dxi-column>
    <dxi-column [allowEditing]="false" dataField="email" caption="E-mail"></dxi-column>
    <dxi-column dataField="phone" caption="Phone" [hidingPriority]="2">
      <dxi-validation-rule type="stringLength" [min]="10" [max]="10" message="O telefone deve ter exatamente 10 dígitos"></dxi-validation-rule>
      <dxi-validation-rule type="pattern" [pattern]="'^\\d{10}$'" message="O telefone deve conter apenas números"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="cep" caption="CEP" [hidingPriority]="3">
      <dxi-validation-rule type="stringLength" [min]="8" [max]="8" message="O cep deve ter exatamente 8 dígitos"></dxi-validation-rule>
      <dxi-validation-rule type="pattern" [pattern]="'^\\d{8}$'" message="O cep deve conter apenas números"></dxi-validation-rule>
    </dxi-column>

    <dxi-column type="buttons" [width]="110">
      <dxi-button name="edit"></dxi-button>
      <dxi-button name="delete"></dxi-button>
    </dxi-column>
  </dx-data-grid>

</div>